﻿@page "/"
@inject HttpClient HttpClient
@using BlazorInputFile
@inject IJSRuntime JSRuntime
@using System.Net.Http.Headers

<div style="display:@display">
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">GooglePlayId</th>
                <th scope="col">Цена</th>
                <th scope="col">Тип</th>
                <th scope="col">Тип</th>
                <th scope="col">Фото</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td><input class="form-control" type="text" @bind-value="@item.Name" /> </td>
                    <td><input class="form-control" type="text" @bind-value="@item.ItemId" /></td>
                    <td><input class="form-control" type="text" @bind-value="@item.Price" /></td>
                    <td>
                        <select size="1" @onchange="new ItemManager(HttpClient, item).Change">
                            <option selected="@IsSelected(ItemType.Bonus, item.Type)">@ItemType.Bonus</option>
                            <option selected="@IsSelected(ItemType.Skin, item.Type)">@ItemType.Skin</option>
                            <option></option>
                        </select>
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" @bind-value="@item.Donat" checked="@item.Donat" />
                            <label class="form-check-label" for="exampleCheck1">Donate @item.Donat</label>
                        </div>
                    </td>
                    <td><img src="@item.Photo" width="100" /></td>
                    <td>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <BlazorInputFile.InputFile class="custom-file-input" OnChange="new ItemManager(HttpClient, item).OnInputFileChange" />
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>

                    </td>
                    <td>
                        <button class="btn" @onclick="new ItemManager(HttpClient, item).Update">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button class="btn" @onclick="new ItemManager(HttpClient, item, Items).Delete">
                            <svg width="1em" color="red" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn" @onclick="Create">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </button>
</div>

<div style="display:@displayLogin">
    <h3>Login</h3>
    <input class="form-control" type="text" @bind-value="@Person.Login" />
    <input class="form-control" type="password" @bind-value="@Person.Password" />
    <button class="btn" @onclick="SendLogin">
        Login
    </button>
</div>

@code{
    Person Person = new Person();

    async Task SendLogin()
    {
        var respose = await HttpClient.PostAsJsonAsync("token", Person);
        var token = await respose.Content.ReadFromJsonAsync<ResponseJwt>();

        await WriteCookieAsync("token", token.AccessToken, 90);

        await OnInitializedAsync();
    }

    public async Task WriteCookieAsync(string name, string value, int days)
    {
        var test = await JSRuntime.InvokeAsync<object>("blazorExtensions.WriteCookie", name, value, days);
    }
    string display = "none";
    string displayLogin = "none";

    private List<Item> Items = new List<Item>();

    public static bool isInite;

    public async Task<string> ReadCookieAsync(string name)
    {
        return await JSRuntime.InvokeAsync<string>("blazorExtensions.ReadCookie", name);
    }


    protected override async Task OnInitializedAsync()
    {

        var token = await ReadCookieAsync("token");
        if (token != null)
        {
            HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }

        var respose = await HttpClient.GetAsync("Admin/Index");
        if (respose.StatusCode == System.Net.HttpStatusCode.OK)
        {
            Items = await respose.Content.ReadFromJsonAsync<List<Item>>();
            display = "block";
            displayLogin = "none";
        }
        else
        {
            displayLogin = "block";

            display = "none";
        }
    }




    async Task Create()
    {
        var it = new Item()
        {
            Id = new Random().Next(0, 99999999),
        };
        Items.Add(it);

        await HttpClient.PostAsJsonAsync<Item>("Admin/Create", it);

    }

    public bool IsSelected(ItemType item1, ItemType item2)
    {
        return item1 == item2;
    }

    public EventCallback Delete(Item item)
    {

        Action b = (async () =>
        {
            var response = await HttpClient.PostAsJsonAsync<Item>("Admin/Delete", item);
            if (response.StatusCode == System.Net.HttpStatusCode.OK)
            {
                Items.Remove(item);
            }
        });
        var a = new EventCallback(null, b);
        return a;
    }

    public class ItemManager
    {
        HttpClient _httpClient;
        Item _item;
        private List<Item> _items;

        public ItemManager(HttpClient httpClient, Item item)
        {
            _httpClient = httpClient;
            _item = item;
        }
        public ItemManager(HttpClient httpClient, Item item, List<Item> items)
        {
            _httpClient = httpClient;
            _item = item;
            _items = items;
        }
        public async Task OnInputFileChange(IFileListEntry[] e)
        {
            if (e != null && e.Length > 0)
            {
                var content = new MultipartFormDataContent();
                var stream = new StreamContent(e[0].Data);
                content.Add(stream);
                var response = await _httpClient.PostAsync("Admin/TestFile/" + _item.Name, stream);
                var path = await response.Content.ReadAsStringAsync();
                _item.Photo = path;
                await _httpClient.PostAsJsonAsync<Item>("Admin/Edit", _item);
            }

        }

        public void Change(ChangeEventArgs e)
        {
            _item.Type = itemTypes[(string)e.Value];
        }
        Dictionary<string, ItemType> itemTypes = new Dictionary<string, ItemType>
        {
            ["Bonus"] = ItemType.Bonus,
            ["Skin"] = ItemType.Skin
        };
        public async Task Delete()
        {
            var response = await _httpClient.PostAsJsonAsync<Item>("Admin/Delete", _item);
            if (response.StatusCode == System.Net.HttpStatusCode.OK)
            {
                _items?.Remove(_item);
            }
        }
        public async Task Update()
        {
            await _httpClient.PostAsJsonAsync<Item>("Admin/Edit", _item);
        }
    }




    private async Task OnInputFileChange(IFileListEntry[] e)
    {
        if (e != null && e.Length > 0)
        {
            var content = new MultipartFormDataContent();
            var stream = new StreamContent(e[0].Data);
            content.Add(stream);
            await HttpClient.PostAsync("Admin/TestFile/" + e[0].Name, stream);
        }

    }
}
